:root {
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
    
}

/* Estilização do cabeçalho */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; /*justify-content: space-between para distribuir logo e nav nas extremidades*/
    /* padding: 1rem; */
    
}
.logo-ford {
    display: flex;
    align-items: start;
}

header nav {
    align-content: center;
    flex-grow: 1;
    text-align: center;
}
header nav ul {
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    color: var(--cor-secundaria);
}

/* Fim do cabeçalho (por enquanto) Depois adicionar animações */

/* Estilizalçao do main */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.video {display: flex;
    margin-top: 110px;

    iframe {
    width: 70%;
    }
    
}

.carros ul {
    display: flex;
    align-items: center;

}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Fim da estilizalçao do main */

/* Estilização do footer */

footer {
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.redes-sociais span {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
.redes-sociais ul {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;;

}
.redes-sociais ul li a{
    gap: 1rem;
    list-style: none;
}
.imagem-footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 50px;

}