<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="styled.css">
</head>
<body class="body-home">
    <!-- Header Reaproveitavel -->
    <header>
        <div class="logo-ford">
            <img src="../../img/logo-ford-256.png" alt="logo-ford" >
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="../lançamento/lançamento.html">Lançamento</a></li>
                <li><a href="../contato/contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <img src="../../img/imagem_1.jpg" alt="Nova Ranger 2022">
            <div class="texto">
                <p>Essa é a nova Ranger Ford 2022.</p> 
                <span>Verifique novidades<a href="#"> aqui.</a></span>
            </div>
        </div>
    </main>

    <!-- Footer Reaproveitavel -->
    <footer>
        <div class="redes-sociais">
            <ul>
                <span>Redes Sociais</span>
                <li><a href="https://www.facebook.com/FordBrasil/?locale=pt_BR"><img src="../../img/facebook-50.png" alt="facebook"></a></li>
                <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiMrdO-1taOAxUwLrkGHYIaNCEQFnoECAsQAQ&url=https%3A%2F%2Fwww.instagram.com%2Ffordbrasil%2F&usg=AOvVaw3_1ySw5vVXaSx5mi9KEbSB&opi=89978449"><img src="../../img/instagram-logo-50.png" alt="instagram"></a></li>
                <li><a href="https://www.youtube.com/fordbrasil"><img src="../../img/youtube-squared-50.png" alt="youtube"></a></li>
            </ul>
        </div>
        <div class="copy">
            <p>&copy; 2025 Ford Motor Company - Todos os direitos reservados.</p>
        </div>
        <div class="imagem-footer">
            <img src="../../img/ford-96.png" alt="logo-ford">
        </div>
    </footer>
</body>
</html>