:root {
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
    
}

/* Estilização do cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*justify-content: space-between para distribuir logo e nav nas extremidades*/
    padding: 1rem;
}
.logo-ford {
    display: flex;
    align-items: start;
    padding: 1rem;
}

header nav {
    align-content: center;
    flex-grow: 1;
    text-align: center;
}
header nav ul {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    color: var(--cor-secundaria);
}
/* Fim do cabeçalho (por enquanto) Depois adicionar animações */

/* Main */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: auto;
}
.texto {
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto p, .texto span {
    margin-top: 15px;
    margin-right: 5px;
    font-size: 1.5rem;
}
.texto span a {
    text-decoration: none;
    color: black;
}

/* Estilização do footer */

footer {
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
}
.redes-sociais span {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
.redes-sociais ul {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;;

}
.redes-sociais ul li a{
    gap: 1rem;
    list-style: none;
}
.imagem-footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 50px;

}