
footer {
    bottom: 0;
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 30px; */
}
.redes-sociais span {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}
.redes-sociais ul {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;;

}
.redes-sociais ul li a{
    gap: 1rem;
    list-style: none;
}
.imagem-footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 50px;
}

.copy {
    color: white;
}

@media screen and (max-width: 768px) {
    .redes-sociais ul {
        margin-left: 1rem;
    }

    .imagem-footer {
        margin-right: 25px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
        padding: 1rem;
    }

    .redes-sociais ul {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .imagem-footer {
        margin-right: 0;
    }
}
