/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz o cálculo de tamanho incluir bordas e preenchimento */
}

/* Garante que o html e o body ocupem 100% da altura e largura */
html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden; /* Previne a barra de rolagem horizontal */
}

body {
	font-family: "Oswald", sans-serif;
    line-height: 1.5; /* Melhora a legibilidade */
}

/* Remove a decoração de links e a cor padrão */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove os estilos padrão de listas */
ul, ol {
    list-style: none;
}

/* Garante que imagens sejam responsivas por padrão */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}