body {
    background-image: linear-gradient(#977dff, #0600ab);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

header {
    display: flex;

}
header nav ul {
    display: flex;
}